colors {
    color: #E6D7CC;
    color: #E1BA7B;

    color: #EED093;
    color: #F2DBA6;
    color: #F5E8CA;

    color: #F6F5E8;
}

body {
    
    color: #777777;

    background-color : #E6D7CC;

    font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: "jenna";
	src: url('JennaSue.ttf');
}

/* #file_input {

    display: none;
} */

.glossary {
    
    padding-left: 110px;
    padding-right: 20px;
}

.paper {
    
    padding-bottom: 55px;
    padding-top: 55px;
    /* width: 450px; */
    background: rgba(255,255,255);
    box-shadow: 0px 0px 5px 0px #888;

    border-radius: 5px;
}

/* .texture {
    top: 0px;
    left: 0px;
    position: absolute;    
    content: '';
    height: 100%;
    width: 100%;

    background-image: url(img/texture-paper.jpg);
    background-repeat: repeat;

    opacity: 0.1;
} */

.lines2 {
    top: 0px;
    position: absolute;    
    content: '';
    left: 95px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
}

.lines {
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}



.holder {
    width: 100%;
    height: 100%;
    /* height: 750px; */

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#creator {
    float: left;
    width: 25%;

    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;

    background-color: #F2DBA6;
    border-radius: 15px;
}

#creator input {

    resize: none;
    width: 100%;
    height: 25px;

    margin-top: 10px;
    background-color: #F5E8CA;

    border-right: 2px solid #F5E8CA;
    border-bottom: 2px solid #F5E8CA;
    border-left: 2px solid #EED093;
    border-top: 2px solid #EED093;
}

#chronos-container {
    float: right;
    width: 60%;   
    margin-top: 20px;
    margin-right: 20px;
}

.task {
    padding: 20px;

    margin-top: 20px;
    /* background-color: #F6F5E8; */
    border-radius: 15px;

    min-height: 60px;
}

.head {
    /* display: inline-block; */
    /* padding-top: 15px; */
    padding-left: 25px;
    float: left;
}

.content {

    /* display: inline-block; */
    width: 85%;

    font-family: "jenna";
    font-size: 35px;
    
}

.time {

    float: right;
    margin: 25px;
}

.foot {
    /* display: inline-block; */
    /* margin-bottom: 100px; */
    float: right;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.change {
    float: left;
}

.delete {
    float: right;  
}

button {

    margin-top: 10px;
    padding: 5px 10px;

    background-color: #E6D7CC;

    border-radius: 15px;

    border-right: 2px solid #EED093;
    border-bottom: 2px solid #EED093;
    border-left: 2px solid #F5E8CA;
    border-top: 2px solid #F5E8CA;

    color: #777777;
}

button:active {

    border-right: 2px solid #F5E8CA;
    border-bottom: 2px solid #F5E8CA;
    border-left: 2px solid #EED093;
    border-top: 2px solid #EED093;
}